.card {
    &.block {
        .block-label-with-icon {
            margin-bottom: 5px;
            text-align: left;

            .material-icons {
                width: 24px;
            }

            span {
                position: relative;
                top: -3px;
                left: 7px;
            }
        }
    }
}