$theme-uccello: #007ad6;
$theme-uccello-bg: rgba(228, 231, 242, 0.5);
$theme-uccello-legal-bg: #40434c;
$theme-uccello-legal-color: #fff;
$theme-uccello-bar: #fff;
$theme-uccello-navbar-brand: #fff;
$theme-uccello-navbar-brand_active: #fff;
$theme-uccello-navbar-brand_hover: #fff;
$theme-uccello-navbar-brand_focus: #fff;
$theme-uccello-nav-anchor: #fff;
$theme-uccello-nav-anchor_hover: rgba(0,0,0,0);
$theme-uccello-nav-anchor_focus: rgba(0,0,0,0);
$theme-uccello-nav-anchor-opened: rgba(0,0,0,0);
$theme-uccello-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-uccello-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-uccello-sidebar-bg: #51555d;
$theme-uccello-sidebar-user-info: #40434c;
$theme-uccello-menu-list-color: #fff;
$theme-uccello-menu-list-active: #40434c;
$theme-uccello-menu-list-toggled: rgba(0,0,0,0);
$theme-uccello-menu-list-submenu: rgba(0,0,0,0);
$theme-uccello-menu-list-hover: #007ad6;
$theme-uccello-menu-header-bg: #40434c;
$theme-uccello-menu-header-color: #ffffff;