@import '_theme-color-variables';

.theme-uccello {

    background-color: $theme-uccello-bg;

    .bg-primary {
        background-color: $theme-uccello;
    }

    .col-primary {
        color: $theme-uccello !important;
    }

    .text-danger {
        color: $theme-red;
    }

    .navbar {
        background-color: $theme-uccello;
    }

    .navbar-brand {
        color: $theme-uccello-navbar-brand;

        &:hover {
            color: $theme-uccello-navbar-brand_hover;
        }

        &:active {
            color: $theme-uccello-navbar-brand_active;
        }

        &:focus {
            color: $theme-uccello-navbar-brand_focus;
        }
    }

    .nav {
        > li {
            > a {
                color: $theme-uccello-nav-anchor;

                &:hover {
                    background-color: $theme-uccello-nav-anchor_hover;
                }

                &:focus {
                    background-color: $theme-uccello-nav-anchor_focus;
                }
            }
        }

        .open {
            > a {
                background-color: $theme-uccello-nav-anchor-opened;

                &:hover {
                    background-color: $theme-uccello-nav-anchor-opened_hover;
                }

                &:focus {
                    background-color: $theme-uccello-nav-anchor-opened_focus;
                }
            }
        }
    }

    .bars {
        color: $theme-uccello-bar;
    }

    .sidebar {
        background-color: $theme-uccello-sidebar-bg;

        .user-info {
            background-color: $theme-uccello-sidebar-user-info;
            border-bottom: none;
            height: 100px;

            .image {
                margin-top: 18px;
            }

            .info-container {
                border-left: solid 1px $theme-uccello;
                padding-left: 15px;
            }
        }

        .menu {
            .list {
                .header {
                    background-color: $theme-uccello-menu-header-bg;
                    color: $theme-uccello-menu-header-color;
                }

                a {
                    color: $theme-uccello-menu-list-color;

                    span {
                        color: $theme-uccello-menu-list-color;
                    }

                    &:hover {
                        color: $theme-uccello-menu-list-hover;

                        span {
                            color: $theme-uccello-menu-list-hover;
                        }
                    }
                }

                li.active {

                    a.toggled:not(.menu-toggle) {
                        background-color: $theme-uccello-menu-list-active;
                    }

                    > :first-child {

                        i, span {
                            color: $theme-uccello-menu-list-color;
                        }
                    }
                }

                .toggled {
                    background-color: $theme-uccello-menu-list-toggled;
                    border-left: solid 3px $theme-uccello;
                }
            }
        }

        .legal {
            background-color: $theme-uccello-legal-bg;
            color: $theme-uccello-legal-color;
            border: none;

            .copyright {
                a {
                    color: $theme-uccello !important;
                }
            }
        }
    }

    .pagination {
        li.active {
            a {
                background-color: $theme-uccello;
                border-radius: 20px;
            }
        }
    }

    div.breadcrumb {
        ol.breadcrumb {
            li {
                a:hover {
                    color: $theme-uccello;
                }

                &.active {
                    color: $theme-uccello;
                }
            }


        }
    }

    .card .header h2,
    .modal .modal-header h4 {
        div.block-label-with-icon {
            i {
                color: $theme-uccello;
            }
        }

        small {
            margin-left: 35px;
        }
    }

    .modal .modal-header h4 {
        span {
            margin-left: 7px;
        }
    }

    .switch label input[type=checkbox]:checked + .lever.switch-col-primary {
        background-color: $theme-uccello-switch-background;

        &:after {
            background-color: $theme-uccello;
        }
    }

    .form-group .form-line:after {
        border-bottom: 2px solid $theme-uccello;
    }

    .form-group .form-line.error:after {
        border-bottom: 2px solid $theme-red;

    }

    .nav-tabs {
        border-bottom: 2px solid $theme-uccello-navtabs-border;

        & > li.active > a {
            color: $theme-uccello !important;
        }

        & > li > a:before {
            border-bottom: 3px solid $theme-uccello;
        }
    }


    .right-sidebar {
        background-color: $theme-uccello-sidebar-bg;

        .domain-search-bar {
            background-color: $theme-uccello-menu-header-bg;
        }

        .content {
            color: $theme-uccello-sidebar-color;
        }
    }

    .jstree-default {
        .jstree-search {
            color: #fd582d;
        }

        .jstree-hovered {
            background: $theme-uccello-menu-list-active;
            border: none;
            border-radius: 20px;
        }

        .jstree-anchor {
            padding: 0 10px;
        }

        .current > a {
            color: #58AFD2;
        }
    }

    table.dataTable {
        tr {
            a.edit-btn,
            a.delete-btn {
                color: $theme-uccello;
            }
        }
    }

}