
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

@import '~daterangepicker/daterangepicker.css';
@import '~bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css';
@import '~nestable2/dist/jquery.nestable.min.css';
@import '~jstree/dist/themes/default/style.css';

html {
    font-family: Roboto, sans-serif;
}

// body {
//     -webkit-touch-callout: none;
//     -webkit-text-size-adjust: none;
//     -webkit-user-select: none;
//     -webkit-highlight: none;
//     -webkit-tap-highlight-color: rgba(0,0,0,0);
// }

.row {
    &.display-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;

        > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    }
}

button {
    &.btn-save {
        position: fixed !important;
        bottom: 20px;
        right: 25px;
        z-index: 1001;

        &:hover, &:focus, .focus {
            color: #fff !important;
        }
    }

    &.btn-save-new {
        position: fixed !important;
        bottom: 20px;
        right: 95px;
        z-index: 1001;

        &:hover, &:focus, .focus {
            color: #fff !important;
        }
    }
}

#page-action-buttons {
    position: fixed !important;
    bottom: 20px;
    right: 15px;
    z-index: 1;

    a {
        margin-left: 10px;
    }
}

form.edit-form {
    margin-bottom: 60px;
}

label.required::before {
    content: '* ';
    color: red;
}

.card {
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);

    .card-content {
        .card-title {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid hsla(0,0%,80%,.35);
        }
    }
}

table {
    th {
        .column-label {
            position: relative;
            display: block;
            color: inherit;
            white-space: nowrap;

            i {
                position: absolute;
                right: 5px;
                top: 2px;
                // margin-left: 10px;
                font-size: 16px;
                color: #AEAEAE;
            }
        }

        &.select-column {
            i {
                color: rgba(0,0,0,.5);
            }
        }

        &.actions-column {
            min-width: 65px;
        }
    }

    tr.record {
        cursor: pointer;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    color: inherit;
}

.pagination {
    li {
        border-radius: 50px;
    }
}

.detail-tabs {
    margin: 10px 0 15px 0;
}

.uppercase {
    text-transform: uppercase;
}

@media only screen and (min-width: 993px) {
    #toast-container {
        right: 25px;
        top: 63px;
    }
}

.notification-container {
    display: none;
}

.autoscroll-x {
    overflow-x: auto;
}

.autoscroll-y {
    overflow-y: auto;
}