
// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

div.breadcrumb {
    background-color: #fff;
    border-radius: 20px;
    padding: 1px 4px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    a.module-icon i {
        color: #51555D;
        background-color: rgba(0,0,0,.2);
        border-radius: 20px;
        padding: 3px;
        font-size: 18px;
        margin-right: 10px;
        margin-top: 2px;
    }

    a.action-button {
        i {
            margin-left: 5px;
            margin-right: 0;
            color: #ffffff;
            border-radius: 20px;
            padding: 3px;
            font-size: 18px;
            margin-top: 2px;
        }
    }

    ol.breadcrumb {
        margin: 0;
        padding: 5px 0 0 0;
        margin-right: 25px;

        &.filters {
            margin-right: 0;
        }

        &>li>a {
            font-weight: bold;
            color: #333;
        }
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: auto !important;
    }

    .btn:not(.btn-link):not(.btn-circle),
    .btn-group,
    .btn-group-vertical {
        border-radius: 0;
        padding: 0;
        border: none !important;
    }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        padding-top: 2px;
        padding-right: 15px;
    }

    .manage-filters {
        position: relative;

        button {
            font-weight: normal !important;
            text-align: left !important;
        }
    }
}