// Variables
$theme: "blue";
$primaryColor: color('blue', 'base');
$accentColor: #51555D;
$accentColor2: #3F434C;

// Body
$backgroundColor: #FFFFFF;
$textColor: #464646;

// Loader
$loaderBackgroundColor: $accentColor;
$loaderColor: $accentColor2;

// Header
$headerBackgroundColor: $primaryColor;
$navbarTopBackgroundColor: #fff;

// Breadcrumb
$breadcrumbTextColor: #51555D;
$breadcrumbSeparatorColor: #51555D;

// Tab
$tabTextColor: #999999;
$tabHoverBackgroundColor: #eee;
$tabActiveTextColor: $primaryColor;
$tabActiveBackgroundColor: transparent;
$tabIndicatorBackgroundColor: $primaryColor;
$tabBorderColor: #E6E6E8;
$tabBadgeColor: #fff;

// Sidenav
$sidenavBackgroundColor : #fff;
$sidenavLinkColor : $accentColor;
$sidenavIconColor : $accentColor;
$sidenavLinkHoverBackgroundColor: $accentColor;
$sidenavLinkHoverColor : $primaryColor;
$sidenavIconHoverColor : $primaryColor;
$sidenavUserInfoBackgroundColor: $accentColor2;
$sidenavUserInfoColor: #fff;
$sidenavDividerColor: $accentColor2;
$sidenavSubheaderBackgroundColor: $accentColor2;
$sidenavLinkActiveBackgroundColor: $accentColor2;

// Table
$tableTrHoverBackgroundColor: #f5f5f5;
$tableTrOddBackgroundColor: #f9f9f9;
$tableTdBorderColor: #eee;

// Form
$formInputFocusBorderColor: $primaryColor;
$formInputValidBorderColor: colors('green');
$formInputInvalidBorderColor: colors('red');
$formLabelActiveColor: $primaryColor;
$formIconActiveColor: $primaryColor;
$formSwitchLeverBackgroundColor: $accentColor;
$formSwitchLeverColor: $primaryColor;

// Card
$cardTitleInfoColor: #999;

@import "global";