body.theme-#{$theme} {
    background-color: $backgroundColor;

    header, main, footer {
        padding-left: 260px;
    }

    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }

    // Loader
    .progress.loader {
        display: none;
        position: absolute;
        background-color: $loaderBackgroundColor;
        top: 0;
        margin: 0;
        z-index: 1003;

        .indeterminate,
        .determinate {
            background-color: $loaderColor;
        }
    }

    // Header
    .navbar-fixed {

        &.navbar-header {
            z-index: 1002;
        }

        &.navbar-top {
            nav {
                padding-top: 12px;
                padding-left: 260px;
                padding-right: 15px;
                right: 0;
                background-color: $navbarTopBackgroundColor;

                .breadcrumb-container {
                    background-color: $navbarTopBackgroundColor;
                    margin-top: 3px;
                    padding: 0 5px;
                    border-radius: 50px;
                    height: 40px;
                    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
                    box-shadow: 0 2px 10px rgba(0,0,0,.2);

                    .btn-flat {
                        padding: 0 5px;
                    }

                    a:hover {
                        color: $primaryColor !important;
                    }

                    span.active {
                        margin-right: 20px;
                        color: $primaryColor !important;
                    }
                }
            }
        }

        nav.header {
            background-color: $headerBackgroundColor;
        }
    }

    .breadcrumb {
        color: $breadcrumbTextColor !important;
        font-size: 14px;

        &:before {
            color: $breadcrumbSeparatorColor;
            height: auto;
        }
    }

    // Sidenav
    .sidenav {
        background-color: $sidenavBackgroundColor;
        top: 64px;
        width: 260px;
        border: none;

        // Menu
        li {
            // User info
            &.user {
                line-height: normal;

                .user-info {
                    background-color: $sidenavUserInfoBackgroundColor;
                    color: $sidenavUserInfoColor;
                    margin-bottom: 0;
                    padding-top: 30px;
                    border-bottom: none;
                    height: 100px;
                    font-size: 12px;

                    .user-image {
                        border-right: solid 1px $primaryColor;
                    }

                    .name {
                        font-size: 14px;
                    }

                    .dropdown-trigger {
                        > a {
                            color: $sidenavUserInfoColor;
                        }
                    }

                    .dropdown-content a {
                        color: inherit;

                        > i,
                        > [class^=mdi-],
                        li > a > [class*=mdi-],
                        > i.material-icons {
                            color: inherit;
                        }
                    }
                }
            }

            // Active link
            &.active {
                background-color: $sidenavLinkActiveBackgroundColor;
                border-left: solid 3px $primaryColor;

                // > i,
                // > [class^=mdi-],
                // li > a > [class*=mdi-],
                // > i.material-icons {
                //     margin: 0 10px 0 0;
                // }
            }

            // Link
            > a {
                color: $sidenavLinkColor;
                padding: 0 13px;

                > i,
                > [class^=mdi-],
                li > a > [class*=mdi-],
                > i.material-icons {
                    color: $sidenavIconColor;
                    margin: 0 13px 0 0;
                }

                &:hover {
                    background-color: $sidenavLinkHoverBackgroundColor;
                    color: $sidenavLinkHoverColor;

                    > i,
                    > [class^=mdi-],
                    li > a > [class*=mdi-],
                    > i.material-icons {
                        color: $sidenavIconHoverColor;
                    }
                }
            }

            // Subheader
            .subheader {
                background-color: $sidenavSubheaderBackgroundColor;
            }
        }

        // Divider
        .divider {
            background-color: $sidenavDividerColor;
        }
    }

    // Breadcrumb
    @media only screen and (max-width: 992px) {

        .navbar-fixed {

            &.navbar-top {
                nav {
                    padding-left: 0;
                }
            }
        }

    }

    header.navbar-top {
        nav .nav-wrapper i, nav a.sidenav-trigger i {
            line-height: 36px;
        }
    }

    @media only screen and (min-width: 601px) {
        header.navbar-top {
            nav, nav a.sidenav-trigger {
                line-height: 40px;
            }

            nav .nav-wrapper i, nav a.sidenav-trigger i {
                line-height: 36px;
            }
        }
    }

    .primary,
    .bg-primary {
        background-color: $primaryColor !important;
    }

    .primary-text {
        color: $primaryColor !important;
    }

    .spinner-primary, .spinner-primary-only {
        border-color: $primaryColor;
    }

    .content {
        padding: 0 15px;
    }

    table {
        th {
            .column-label:hover {
                color: $primaryColor;
            }
        }
    }
}