// Variables
$theme: "uccello";
$primaryColor: #017AD5;
$accentColor: #fff;
$accentColor2: #edf0fa;

// Body
$backgroundColor: #F3F4F6;
$textColor: #40434C;

// Loader
$loaderBackgroundColor: $primaryColor;
$loaderColor: color("orange", "base");

// Header
$headerBackgroundColor: $primaryColor;
$navbarTopBackgroundColor: #fff;

// Breadcrumb
$breadcrumbTextColor: #3F434C;
$breadcrumbSeparatorColor: #CCC;

// Tab
$tabTextColor: #999999;
$tabHoverBackgroundColor: transparent;
$tabActiveTextColor: $primaryColor;
$tabActiveBackgroundColor: transparent;
$tabIndicatorBackgroundColor: $primaryColor;
$tabBorderColor: #E6E6E8;
$tabBadgeColor: #fff;

// Sidenav
$sidenavBackgroundColor: $accentColor;
$sidenavLinkColor: #40434C;
$sidenavIconColor: $primaryColor;
$sidenavLinkHoverBackgroundColor: transparent;
$sidenavLinkHoverColor: $primaryColor;
$sidenavIconHoverColor: $primaryColor;
$sidenavUserInfoBackgroundColor: #F3F4F6;
$sidenavUserInfoColor: #000;
$sidenavDividerColor: $accentColor2;
$sidenavSubheaderBackgroundColor: $accentColor2;
$sidenavLinkActiveBackgroundColor: $accentColor2;

// Domains
$domainsTreeLinkColor: $textColor;
$domainsTreeLinkColorCurrent: $primaryColor;
$domainsTreeLinkColorDisabled: #CCC;

// Table
$tableTrHoverBackgroundColor: #f5f5f5;
$tableTrOddBackgroundColor: #f9f9f9;
$tableTdBorderColor: #eee;

// Form
$formInputFocusBorderColor: $primaryColor;
$formInputValidBorderColor: colors('green');
$formInputInvalidBorderColor: colors('red');
$formLabelActiveColor: $primaryColor;
$formIconActiveColor: $primaryColor;
$formSwitchLeverBackgroundColor: #818181;
$formSwitchLeverColor: $primaryColor;

// Card
$cardTitleInfoColor: #999;

// Avatar
$avatarInitialsBackgroundColor: #fff;
$avatarInitialsColor: #999;

// Treeview
$treeviewSearchResultColor: $primaryColor;

@import "global";
